<div style="text-align: center" *ngIf="!isRegisterMode">
  <h1>Find your match</h1>
  <p class="lead">Come on in to view your match.. All you need to do is sign up!</p>
  <div class="text-center">
    <button class="btn btn-primary btn-lg" (click)="toggleRegisterMode()">Register</button>
    <button class="btn btn-info btn-lg">Learn more</button>
  </div>
</div>

<div class="container" *ngIf="isRegisterMode">
  <div class="col-md-4 col-md-offset-4">
    <app-register (cancelRegister)="cancelRegister($event)"></app-register>
  </div>
</div>
